.Modal{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.877);
}
.Img{
    max-width: 100%;
    max-height:80vh;
}
.Left{
    color:white;
    position: absolute;
    left:30px;
    font-size: 20px;
    text-shadow: 2px 2px 8px #000000;
    transition: 0.3s;
    cursor: pointer;
}
.Right{
    font-size: 40px;
    color:white;
    position: absolute;
    right:30px;
    text-shadow: 2px 2px 8px #000000;
    transition: 0.3s;
    cursor: pointer;
}
.Left > i{
    font-size:50px;
}.Right > i{
    font-size:50px;
}
.Close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
}
.Close > i {
    font-size:40px;
    font-weight: normal;
    cursor: pointer;
}
@media (max-width:768px) {
    .Img{
        width: 100%;
        max-height: 60vh;
    }
}