.Menu{
    width:clamp(1170px, 100%, 100%);
    box-sizing: border-box;
    background-color: white;
    height: 75px;
    top:0;
    padding: 5px 60px;
    position: sticky;
    display: flex;
    /* overflow: hidden; */
    z-index: 100;
}

.Logo{
    font-family: 'Cinzel', serif;
    height: 75px;
}
.Logo img{
    height: 61px;
    width: 84px;
}
.Logo p:first-of-type{
    position: relative;
    width: 300px;
    left:100px;
    top:-90px;
    font-size: 24px;
}
.Logo p:last-of-type{
    position: relative;
    width: 300px;
    left:95px;
    top:-110px;
    font-size: 14px;
}
@media (max-width: 768px){
    .Logo p:last-of-type{
        left:90px;
        font-size: 12px;
        width:220px;
    }
    .Logo p:first-of-type{
        margin-top:31px;
        left:88px;
        width:200px;
        font-size: 16px;
    }
    .Menu{
        width: 105%;
        padding: 5px 0;
    }
    .Logo img{
        
    }
}