.Foto{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width:70vw;
}
.Slider{
    margin: 20px 15%;
}
.SliderLeft{
    color: white;
    cursor: pointer;
    margin:0;
}
.SliderRight{
    cursor: pointer;
    position: relative;
    color: white;
    margin: 0;
    visibility: hidden;    
}
.SliderLeft > i{
    font-size:50px;
    position: relative;
    top: 268px;
    z-index: 90;
    text-shadow: 4px 4px 4px #000000;
}
.SliderRight > i{
    font-size: 50px;
    position: absolute;
    right:-10px;
    top: -271px;
    z-index: 90;
    text-shadow: 4px 4px 4px #000000;
}
@media (max-width: 1200px){
    .Slider{
        margin: 0;
    }
    .SliderRight > i{
        right: 0;
    }
    .Foto{
        width: 100%;
    }
}