.Admin > button{
    position: absolute;
    left: 7px;
    background-color: #1f2937;
    margin:10px;
    color: #fff;
    width:auto;
    height:30px;
    border: 0;
    cursor: pointer;
}
.Admin > button:hover{
    background-color: #134e6f;
}
@media (max-width: 1200px){
    .Admin > button{
        display: none;
    }
}