.Image{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width:38px;
    height:44px;
    fill:rgb(223, 197, 176);
}
.CartNumber{
    position: relative;
    color: rgb(223, 197, 176);
}
.CartNumberConteiner{
    position: fixed;
    right: 23px;
    bottom: 26px;
    text-align: center;
    width:30px;
    height: 20px;
}
.ShoppingCartResult{
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color: black;
    opacity: 0.5;
    z-index: 100;
}
.SideBar{
    position:fixed;
    right:0;
    top:0;
    width:350px;
    height:100%;
    opacity: 1;
    z-index: 200;
    background-color:white
}
.Top{
    background-color:black;
    height:70px;
    width:100%;
    font-family: 'Poppins', sans-serif;
    color:white;
    text-align: center;
    font-size: 25px;
    padding-top:30px;
}
.ButtonBack{
    position:relative;
    width:20px;
    font-size: 25px;
    left:-115px;
    cursor: pointer;
}
.ShoppingCart{
    cursor: pointer;
}
.Products{
    padding: 20px;
    height: 70%;
    overflow:scroll;
    scrollbar-width: none;
}
.Products::-webkit-scrollbar {
    display: block;
}
.Prize{
    position: fixed;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 25px;
    height:100px;
    padding:10px;
    margin:0 auto;
}
.ButtonSubmit{
    box-sizing: border-box;
    width:282px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    color: white;
    background-color:#F0AB8B;
    cursor: pointer;
}
.ButtonSubmit:hover{
    background-color:#d3a38d;
}
.Product{
    display: flex;
    flex-direction: row;
}
.ProductImage >img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
}
.ProductInfo{
    display: flex;
    flex-direction: column;
}
.ProductName{
    color:#545B4A;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
}
.ProductPrize{
    color:#191B16;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
}
.ProductInput{
    width: 44px;
    height: 24px;
    text-align: center;
    outline: none;
    box-color:white;
    border:0.5px solid #aaaaaa;
}
.ProductDelete{
    position: relative;
    width: 14px;
    font-weight: bold;
    text-align: center;
    left:200px;
    top:-86px;
    cursor: pointer;
    font-size: 12px;
    color:#999999;
    padding:1px;
}
.Modal{
    position: fixed;
    display:flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    top: 33%;
    left: 40%;
    width: 350px;
    height: 500px;
    background-color: white;
    z-index: 100;
    text-align: center;
}
.ModalSubmit{
    background-color:#F0AB8B;
    box-sizing: border-box;
    width: 150px;
    height:40px;
    margin: 10px auto;
    padding:5px 0;
    color: white;
    cursor: pointer;
}
.ModalSubmit:hover{
    background-color:#d3a38d;
}
.ModalInput{
    width:60%;
    height:40px;
    margin:5px auto;
}
.Bottom{
    display: flex;
    justify-content: center;
    width:100%;
    position: absolute;
    bottom: 162px;
}
@media (max-width: 768px){
    .Prize{
        bottom:30px;
    }
    .Modal{
        left:0;
        top:12%;
        width:100%;
        height:100%;
        z-index: 999;
    }
    .SideBar{
        width:100%;
    }
    .ProductDelete{

    }
}