.Top{
    width: 100%;
    height: 500px;
    text-align: center;
}

.TopText{
    font-size: 73px;
    letter-spacing: 13px;
    font-family: 'Raleway', sans-serif;
    position:relative;
}
.TopText1{
    left:14%;
    top:154px;
    color: black;
}
.TopText2{
    left:-18%;
    top:200px;
    color:#dedede;
}
.Results{
    margin: 50px 24%;
    width:58%;
}
.Button{
    position: relative;
    left: 45%;
    top: -7em;
    color: white;
    border: 4px solid white;
    padding:7px;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
}
.Button:visited{
    color: white;
}
.Button:hover{
    color: black;
    background-color:white;
    opacity: 1;
}
.Header{
    font-family: 'Lato', sans-serif;
    width:60%;
    margin-left: auto;
    margin-right: auto;
    font-size:38px;
    text-align:center;
    border-bottom:1px solid black;
    padding-bottom:20px;
}

@media (max-width: 768px){
    .Top {
        width: 105%;
        height:150px;
        background-size:cover;
    }
    .Header{
        width: 90%;
    }
    .TopText{
        letter-spacing:3px;
        font-size:21px;
    }
    .TopText1{
        left:3em;
        top:30px;
    }    
    .TopText2{
        left:-5.1em;
        top:44px;
    }
    .Results{
        margin: 0;
        width: 105%;
    }
    .Button{
        left: 26%;
        top: -3em;
        color: white;
        border: 2px solid white;
        padding: 3px;
    }
}