.Element{
    display: flex;
    flex-direction: row;
    font-family: cinzel,serif;
    font-size:15px;
    text-align: center;
    padding: 0 10%;
    padding-top: 20px;
}
.Slider > img{
    margin-top: 20px;
    margin-left:50px;
    margin-right:50px;
    width: 568px;
    height: 368px;
    object-fit: cover;
}
.List{
    text-align:start;
}
@media (max-width: 768px){
    .Element{
        padding: 10px 10px;
        flex-direction: column;
    }
    .Slider > img{
        width: 100%;
        margin:0;
        height:200px;
    }
    .Slider{
        order: 1;
    }
    .Text{
        order: 2;
    }
}