.Element{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}
.Title{
    color:#292929;
    font-size: 38px;
    border-bottom: 1px solid black;
    letter-spacing:5px;
    padding-top: 40px;
    width: 90%;
}
.Text{
    font-size: 15px;
    letter-spacing:1px;
    color:#000000;
    font-family: 'Barlow', sans-serif;
}
@media (max-width: 768px){
    .Title{
        font-size:23px;
        width:100%;
    }
    .Element{
        padding: 0 6%;
    }
}