.OurWork{
    width:100%;
    box-sizing: border-box;
}
.Title{
    font-size: 38px;
    font-family: cinzel,serif;
    text-align: center;
}
@media (max-width: 1200px) {
    .Title{
        position:relative;
        top: 74px;
    }
    .OurWork{
        width: 100%;
    }
}