.Slider{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 70px;
    caret-color: transparent;
    padding: 0 13%;
}
.SliderLeft{
    position: relative;
    left: 4%;
    top: 173px;
}
.SliderRight{
    position: relative;
    right: -93%;
    bottom: 178px;
}
.Foto{
    display: flex;
    flex-direction: row;
    width: 80%;
    height:300px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.SliderLeft > i{
    color:white;
    font-size: 40px;
    text-shadow: 2px 2px 8px #000000;
    transition: 0.3s;
    cursor: pointer;

}
.SliderRight > i{
    font-size: 40px;
    color:white;
    text-shadow: 2px 2px 8px #000000;
    transition: 0.3s;
    cursor: pointer;
}
.SliderLeft > i:hover{
    text-shadow: 2px 2px 4px #000000;
}
.SliderRight > i:hover{
    text-shadow: 2px 2px 4px #000000;
}
@media (max-width: 1200px) {
    .SliderLeft{
        left:-9%;
    }   
}