.Slider{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    position:relative;
    overflow: hidden;
    caret-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 13%;
}
.SliderLeft{
    position: absolute;
    left: 16%;
    z-index: 100;
}
.SliderRight{
    position: absolute;
    right: 16%;
}
.Foto{
    display: flex;
    flex-direction: row;
    width: 80%;
    height:300px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.SliderLeft > i{
    color:white;
    font-size: 40px;
    text-shadow: 2px 2px 8px #000000;
    transition: 0.3s;
    cursor: pointer;

}
.SliderRight > i{
    font-size: 40px;
    color:white;
    text-shadow: 2px 2px 8px #000000;
    transition: 0.3s;
    cursor: pointer;
}
.SliderLeft > i:hover{
    text-shadow: 2px 2px 4px #000000;
}
.SliderRight > i:hover{
    text-shadow: 2px 2px 4px #000000;
}
@media (max-width: 1200px) {
    .Foto{
        width:100%;
    }
    .SliderLeft{
        left:0;
    }
    .SliderRight{
        right:0;
    }
}