.Element{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    background-size: cover;
    margin-bottom: 50px;
}
.Element >h2 {
    color: white;
    font-family: libre baskerville,serif;
    letter-spacing: 10px;
    font-size: 32px;
    margin-bottom: 80px;
}
.Text{
    font-family: barlow-extralight,barlow,sans-serif;
    width:50%;
    font-size: 18px;
    white-space: pre-wrap;
    padding: 0 5px;
    margin-bottom: 50px;
    line-height:26px;
    color: rgb(156, 156, 156);
}
.Element > a{
    color: white;
    border:1px solid white;
    padding:10px;
    cursor: pointer;
}
.Element > a:hover{
    background-color:white;
    color:black;
}
@media (max-width: 1200px){
    .Element{
        height:auto;
        width:105%;
        padding:30px 0;
        object-fit: cover;
        overflow: hidden;
    }
}