.Reviews{
    margin-left: auto;
    margin-right: auto;
}
.Content{
    display: flex;
    justify-content: center;
}
.Text{
    box-sizing: border-box;
    background-color: rgba(239,226,215,0.5);
    color: #3d3d3d;
    line-height: 1.5em;
    text-align: center;
    width: 328px;
    padding: 5px;
    height:700px;
    font-size:16px;
    padding-top:165px;
    font-family: 'Libre Baskerville', serif;
}
.Heart{
    position: relative;
    top: 60px;
    left: 22%;
    width: 200px;
    height:100px;
    transform: rotate(-20deg);
    text-shadow: 2px 2px 10px black;
}
@media (max-width: 768px){
    .Content{
        flex-direction: column;
    }
    .Reviews{
        margin: 0;
    }
    .Text{
        order: 2;
        width: 105%;
        height: auto;
        padding-top: 50px;
    }
    .Image{
        height: 400px;
        order:1;
    }
    .Image > img {
        width: 105%;
        height: 400px;
        object-fit: cover;
    }
    .Heart{
        visibility: hidden;
    }
}