.Section4 {
    background-color: #efe2d7;
    width: 99.2vw;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px){
    .Section4{
        flex-direction:column;
        width: 105%;
    }
}