.Section4 {
    background-color: #efe2d7;
    margin-top: 150px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px){
    .Section4{
        flex-direction:column;
        width: 105%;
        margin-top: 0;
    }
}