.Banner{
    width:100%;
    height: 600px;
    text-align:center;
    margin-top:-100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.Image{
  position: absolute;
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.Banner p:first-of-type{
    position: relative;
    font-size: 44px;
    color: white;
    font-family: 'Cookie', serif;
}
.Banner p:last-of-type{
    position: relative;
    font-family: 'Cinzel', serif;
    color: white;
    font-size: 40px;
}

@media (max-width:1200px){
  .Banner{
    width:105%;
  }
  .Image{
    object-fit: fill;
  }
}